services:
    database:
        image: mongo:latest
        restart: always
        command: -quiet -syslog
        expose:
            - "27017"
        volumes:
         -  database-data:/data/db
         -  mongo-config:/data/configdb

    dbhelper:
        image: dbhelper
        environment:
            DB: mongodb://database:27017
    
    worker:
        image: worker
        environment:
            DB: mongodb://database:27017
            PORT: 3002

    dispatch:
        image: dispatch
        environment:
            WORKER_URL: http://worker:3002
            PORT: 3001
    
    frontend:
        image: frontend
        ports:
            - 80:3000
        environment:
            API_ENDPOINT: http://dispatch:3001
        
volumes:
    database-data:
    mongo-config: