services:
    textstore:
        image: mongo:latest
        restart: always
        command: -quiet -syslog
        expose:
            - "27017"
        volumes:
         -  textstore-data:/data/db
         -  mongo-config:/data/configdb

    dbhelper:
        image: dbhelper
        environment:
            TEXTSTORE_HOST: mongodb://textstore:27017
    #worker:
    #    image: worker
    #    environment:
    #        TEXTSTORE_HOST: mongodb://textstore:27017
    
    frontend:
        image: frontend
        ports:
            - 80:5173
        volumes:
            - ./frontend/src:/app/src
            - ./frontend/static:/app/static
        
volumes:
    textstore-data:
    mongo-config: