services:
    database:
        image: mongo:latest
        restart: always
        command: -quiet -syslog
        expose:
            - "27017"
        volumes:
         -  database-data:/data/db
         -  mongo-config:/data/configdb

    dbhelper:
        image: dbhelper
        environment:
            DB: mongodb://database:27017
    
    worker:
        image: worker
        environment:
            DB: mongodb://database:27017

    dispatch:
        image: dispatch
        environment:
            WORKER_URL: http://worker:3001
    
    frontend:
        image: frontend
        ports:
            - 5173:5173
        volumes:
            - ./frontend/src:/app/src
            - ./frontend/static:/app/static
        environment:
            API_ENDPOINT: http://dispatch:3000
        
volumes:
    database-data:
    mongo-config: